html, body, section, .full-height{
    background-color: #131618;
    height: 100%;
}

body, .panel-body {
    padding: 1.5em;
}

.container-fluid {
    height: 100%;
}

.panel-default {
    background-color: #131618;
    border: 5px solid #1c2127;
    padding: 0;
}

.panel-header, .panel-footer {
    background-color: #1c2127;
} 

#editor{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    color: rgb(154, 171, 193);

    tab-size: 3;

    display: inline-block;    
    overflow: auto;
    outline: none;
    resize: none;
    white-space: pre-wrap;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}